<!doctype html>
<% # TODO:
# filter
# lazy load
# request Limit
# thumbs up; comment
# weixin or guid cookie
%>
<% #ticket
# !! zoom in or 放大镜
# !! bg: color or pic
# !! big: vertical align 
# !! ga
# !! big: white padding?
# !! easter egg
# !! test mobile
# !! disallow robots
# !! browser static cache
# !! server cache
# big place holder: add cache for small img and use it
# big pic load lag; use js to load img
# big pic: add arrow
# bottom loading gif
# scroll to bottom + modal: quick flash
# test ie
# img alt title
# gzip
# js uglify
%>
<% total_img_num = 89 %>
<% init_img_num = 10 %>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>雁轩</title>
  <!-- TODO -->
  <link rel='stylesheet' href='css/main.css' media='screen' />
  <link rel="shortcut icon" href="images/icon.png">
</head>
<body>
  <div id='header'>
  </div>
  <div id='main'>
    <div id="cascade-container">
      <% 0.upto (init_img_num - 1) do |i| %>
      <div class="grid hidden" id="<%= i %>">
        <div class="thumb"><img src="images/<%= i %>-small.jpg" width="250" /></div>
        <strong></strong>
      </div>
      <% end %>
    </div>
    <div id='modal-container' class='hidden'>
      <div id='modal'></div>
      <div id='large-image-container'>
        <img id='large-image' />
      </div>
    </div>
  </div>
  <div id='foot'></div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
  //$(function() {
    $(window).load(function() {
      renderCascade();
      checkHitBottom();
    });
    var showNewCascade = function() {
      if (GLOBALS.renderedGridIndex >= GLOBALS.TOTAL_IMG_NUM - 1) return;
      var batchId = (GLOBALS.renderedGridIndex + 1);
      var newElStr = '<div id="batch-' + batchId + '">';
      var actualLoadBatchSize = 0;
      for (var i = GLOBALS.renderedGridIndex + 1; i <= GLOBALS.renderedGridIndex + GLOBALS.loadImgBatchSize && i < GLOBALS.TOTAL_IMG_NUM; i++) {
        newElStr += '<div class="grid" id="' + i + '"><div class="thumb"><img src="images/' + i + '-small.jpg" width="250" /></div><strong></strong></div>';
        actualLoadBatchSize ++;
      };
      var newEl = $(newElStr);
      GLOBALS.loadImgCounter = 0;
      $('#cascade-container').append(newEl);
      $('#batch-' + batchId + ' img').load(function() {
        GLOBALS.loadImgCounter ++;
        if (GLOBALS.loadImgCounter == actualLoadBatchSize) {
          renderCascade();
          //checkHitBottom();
          GLOBALS.bottomCheckProcessing = false;
        };
      });
    };
    // Scroll event
    $(window).scroll(function(){
      checkHitBottom();
    });

    var checkHitBottom = function() {
      if (GLOBALS.bottomCheckProcessing) return;
      if (hasHitBottom()) {
        GLOBALS.bottomCheckProcessing = true;
        // Make it async so scroll event could pop up; and thus there won't be a perceivable scroll lag
        //setTimeout(showNewCascade, 1);
        showNewCascade();
      };
    }

    // Window resize event
    $(window).resize(function() {
      // TODO: lock here?
      var newColumnNum = calculateCurrentColumnNum();
      if (GLOBALS.originalColumnNum != newColumnNum) {
        GLOBALS.originalColumnNum = newColumnNum;
        GLOBALS.columnHeights = [];
        GLOBALS.renderedGridIndex = -1;
        renderCascade();
        checkHitBottom();
      };
    });

    // Main render logic
    var renderCascade = function() {
      var columnNum = calculateCurrentColumnNum();
      var containerWidth = columnNum * GLOBALS.COLUMN_WIDTH;
      $('#cascade-container').css({'width': containerWidth + 'px'});
      GLOBALS.originalColumnNum = columnNum;
      var grids = $('.grid');
      for (var i = 0; i < grids.length; i++) {
        if (i <= GLOBALS.renderedGridIndex) continue;
        var el = $(grids[i]);
        var columnIndex = getMinHeightColumn(GLOBALS.columnHeights, columnNum);
        var leftOffset = columnIndex * GLOBALS.COLUMN_WIDTH;
        var topOffset = GLOBALS.columnHeights[columnIndex] ? GLOBALS.columnHeights[columnIndex] : 0;
        moveGrid(el, leftOffset, topOffset);
        var height = el.height() + (GLOBALS.VERTICAL_PADDING + GLOBALS.VERTICAL_MARGIN) * 2;
        GLOBALS.columnHeights[columnIndex] = topOffset + height;
        GLOBALS.renderedGridIndex ++;
      };
    };

    var moveGrid = function(el, leftOffset, topOffset) {
      el.removeClass('hidden');
      el.css({
        'position' : 'absolute',
        'left' : leftOffset,
        'top' : topOffset
      });
    };

    // Modal
    $(document).on('click', '.grid', function() {
      var id = $(this).attr('id');
      $('#modal-container').removeClass('hidden');
      var imageEl = $('#large-image');
      // Set the src to the small img first, as a fallback
      //imageEl.attr('src', 'images/' + id + '-small.JPG');
      imageEl.attr('src', 'images/' + id + '-large.JPG');
      // While the image is loading, we can use the thumbnail pic to calculate the display width/height.
      var smallImageEl = $('#' + id + ' img');
      var ratio = 0.9;
      var height = $(window).height();
      var width = $(window).width();
      var imgHeight = smallImageEl.height();
      var imgWidth = smallImageEl.width();
      if (imgHeight * width > imgWidth * height) {
        adjustLargetImage(imageEl, height * ratio, height * imgWidth / imgHeight * ratio);
      } else {
        adjustLargetImage(imageEl, width * imgHeight / imgWidth * ratio, width * ratio);
      };
    });
    var adjustLargetImage = function(el, height, width) {
      el.attr('height', height + 'px');
      el.attr('width', width + 'px');
    };
    $(document).on('click', '#modal-container', function() {
      $('#large-image').attr('src', '');
      $('#modal-container').addClass('hidden');
    });

    // Utils
    var calculateCurrentColumnNum = function() {
      var num = Math.floor($(window).width() / GLOBALS.COLUMN_WIDTH);
      if (num < 1) num = 1;
      return num;
    };
    var getMinHeightColumn = function(arr, columnNum) {
      if (arr.length < columnNum) return arr.length;
      var min = Infinity;
      var index = 0;
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] < min) {
          index = i;
          min = arr[i];
        };
      };
      return index;
    };
    var hasHitBottom = function() {
      var minColumnHeight = Math.min.apply(null, GLOBALS.columnHeights);
      return (minColumnHeight < $(this).scrollTop() + $(this).height());
    };
    var addCookie = function(key, value) {
      document.cookie = escape(key) + "=" + escape(value);
    };
    var GLOBALS = {
      COLUMN_WIDTH : 310,
      VERTICAL_PADDING: 10,
      VERTICAL_MARGIN : 10,
      TOTAL_IMG_NUM : <%= total_img_num %>,
      loadImgBatchSize : 5,
      loadImgCounter : 0,
      columnHeights : [],
      originalColumnNum : 0,
      renderedGridIndex : -1,
      bottomCheckProcessing: false,
      easterCount : 1
    };
    // Easter egg
    var showMeTheSecrets = function() {
    };
    var clickEasterEgg = function() {
      if (GLOBALS.easterCount < 3) {
        GLOBALS.easterCount += 1;
        if (GLOBALS.easterCount == 3) {
          addCookie("easterEgg", "true");
          showMeTheSecrets();
        };
      };
    };
//  })(jQuery);
</script>
</html>
